.search-form-wrapper
    &.ant-form
        width: 1200px
        box-sizing: content-box
        margin: 10px 0
        border: 1px solid #eeeeee
        padding: 20px
    .ant-form-item
        margin-bottom: 5px
    .ant-space
        margin: 20px
        .ant-card
            background: #f8ffff
            .ant-row
                justify-content: center

.table-col-sty
    background: #f8ffff

.ant-float-btn-circle
    width: 55px
    height: 55px

.mt20
    margin-top: 20px
