.search-form-wrapper
    width: 1200px
    box-sizing: content-box
    margin: 10px 0
    border: 1px solid #ccc
    padding: 20px
    .custom-form-item
        margin-bottom: 5px
    .custom-space
        margin: 20px
        .ant-card
            background: #f8ffff
            .ant-row
                justify-content: center

.table-col-sty
    background: #f8ffff

.float-btn-circle
    width: 55px
    height: 55px