@import './variables'
@import './common'
@import '../components/Header/_style.module.sass'
@import '../components/SearchForm/_style.module.sass'
@import '../components/PreRepay/_style.module.sass'
@import '../components/LoanDetail/_style.module.sass'

@media screen and (max-width: 760px)
    .app
        padding: 0 0.5rem
@media screen and (min-width: 760px)
    .app
        padding: 0 0.5rem
        max-width: 1280px
        box-sizing: content-box
.app
    text-align: center
    margin: 40px auto
